:root {
    /*
     * Typography
     * ======================================================================== */
    --font-family-base: '微软雅黑', 'HelveticaNeue-Light', sans-serif;

    /*
     * Layout
     * ======================================================================== */
    --max-content-width: 1000px;

    /*
     * Media queries breakpoints
     * ======================================================================== */
    --screen-xs-min: 480px;

    /* Extra small screen / phone */
    --screen-sm-min: 768px;

    /* Small screen / tablet */
    --screen-md-min: 992px;

    /* Medium screen / desktop */
    --screen-lg-min: 1200px;

    /* Large screen / wide desktop */
    --primary-color: rgba(24, 144, 255, 1);
    --secondary-color: #f1f2f6;
    --default-color: #fff;
    --default-background: #f0f2f5;
    --default-text-color: rgba(0, 0, 0, 0.65);
    --siderWidth: 218px;
    --sider-background: #002247;
    --headerHeight: 64px;
    --footerHeight: 69px;
    --contentGutter: 0;
}
